/* #region header */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: var(--color-dark);
}

.page-header--theme_light {
    background-color: #999;
}

.page-header--size_l {
    height: 70px;
}

.page-header__logo {
    display: inline-flex;
}

img {
    height: 50px;
    width: 50px;
}
/* #endregion */
