/* #region learning-format*/

.learning-format {
    background-color: #e1e3ec;
    }
    
    .learning-format__title {
        margin: 0;
        padding-bottom: 8px;
    }
    
    .learning-format__benefits {
        margin: 0;
    }
    
/* #endregion*/



