/* #region nav */

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    font-size: 20px;
    color: #eee;
    text-decoration: none;
}

.nav__link--active {
    color: orange;
}

.nav__link:hover {
    color: #ff0;
}

/* #endregion */
