/* #region section*/

.section {
    border: 1px solid  #ced2ed;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
}

.section__title {
    margin: 0 0 16px;
}

.benefits__list {
    margin: 0;
}

/* #endregion*/
