/* #region page */
.page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333a4a;
    background-color: #f5f6f1;
    
    --section-border-color: #ced2ed;
}

.page__content {
    margin: 0;
}

.page__header {
    position: sticky;
    top: 0;
}

.page__section {
    max-width: 640px;
    margin: 0 auto 24px;
}

.page__section--position_left {
    margin-left: 24px;
}

.page__section--position_right {
    margin-right: 24px;
}

.page__section--size_full {
    max-width: none;
    margin-left: 24px;
    margin-right: 24px;
}
/* #endregion */

/* #region header */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: #333a4a;
}

.page-header--theme_light {
    background-color: #999;
}

.page-header--size_l {
    height: 70px;
}

.page-header__logo {
    display: inline-flex;
}

img {
    height: 50px;
    width: 50px;
}
/* #endregion */

/* #region nav */

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    font-size: 20px;
    color: #eee;
    text-decoration: none;
}

.nav__link--active {
    color: orange;
}

.nav__link:hover {
    color: #ff0;
}

/* #endregion */

h1 {
    margin: 0px
}

.title{
    padding: 20px 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center ;
}

.section {
    border: 1px solid  #ced2ed;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
}

.section__title {
    margin: 0 0 16px;
}

.benefits__list {
    margin: 0;
}

.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    padding: 60px;
    background-color: #333a4a;
    color: #fff;
    text-align: center;
}

.learning-format {
background-color: #ced2ed;
}

.learning-format__title {
    margin: 0;
}

.learning-format__benefits {
    margin: 0;
}

.learning-formats {
    display: flex;
    flex-direction: column;
    gap: 18px;
}